.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

@keyframes fadeOut {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.fade-in-image{
    animation: fadeOut 1s; 
}