/* Cible la barre de Navigation */

/*Give the navbar some opacity*/
.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.css-1o5casd-MuiToolbar-root,
.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionFixed.mui-fixed.css-ciy9n4-MuiPaper-root-MuiAppBar-root,
.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionFixed.mui-fixed.css-1rar6yd-MuiPaper-root-MuiAppBar-root {
  background-color: rgba(249, 244, 235, 0.3);
}

/*Make the menu's background a little transparent */
.MuiList-root.MuiList-padding.css-xmlk3u-MuiList-root,
.MuiDrawer-root.MuiDrawer-docked.css-bncp5q-MuiDrawer-docked,
.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiDrawer-paper.MuiDrawer-paperAnchorRight.MuiDrawer-paperAnchorDockedRight.css-18sg6k4-MuiPaper-root-MuiDrawer-paper {
  background-color: #eba326bc;
}
/* Adjust Menu's top bar so its height corresponds to the one of the navbar */
.css-hcq1hg {
  min-height: 75px;
}

.MuiTypography-root.MuiTypography-body1.MuiListItemText-primary.css-10hburv-MuiTypography-root {
  font-size: 1.5rem;
}

@media screen and (min-width: 1290px) {
  .MuiTypography-root.MuiTypography-body1.MuiListItemText-primary.css-10hburv-MuiTypography-root {
    font-size: 1.3rem;
  }

  .MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-button.css-11r0luu-MuiButtonBase-root-MuiListItem-root {
    min-width: 10%;
    width: auto;
  }
}
