.titleCardFavorit {
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
}

.favoritCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circleCardFavorite {
  margin: 0 0;
  width: 25%;
  height: 25%;
  margin-right: 20px;
}

@media screen and (min-width: 900px) {
  .circleCardFavorite {
    margin: 0 0;
    width: 15%;
    height: 15%;
    margin-right: 20px;
  }
  .favoritCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
