.travelSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
}
.title-created {
  margin-top: 101px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 1.7rem;
  color: #40a798;
}

@media screen and (min-width: 600px) {
  .favoriteCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
  }

  .travelSearch {
    align-items: center;
    margin-top: 2vh;
    justify-content: space-around;
  }
  .travelSearch h2 {
    font-size: 30px;
  }
  /* Cible l'input du formulaire de recherche de vol */
  .css-1gh6ugu-MuiAutocomplete-root {
    margin-top: 8px;
  }
  /* Cible le premier input du formulaire de recherche de hotel, restaurant et activité */
  #formStructure > .MuiBox-root {
    margin-top: 8px;
  }
}
